.logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.logo {
    margin: 1rem 0rem 0rem 0rem;
}

.header_text {
    flex: 1;
    color: var(--grey);
    text-align: center;
    margin: 0 auto;
}

.header_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_search_wrapper {
    flex: 1;
}

.logo_cart_wrapper {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo_cart {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.cart_count {
    position: absolute;
    right: -12px;
    top: -12px;
    background-color: var(--purple);
    color: var(--white);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 0.75rem;
}

.logo_cart:hover {
    cursor: pointer;
}

.nav_container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 1.5rem;
}

.nav_link {
    color: var(--grey);
}


.nav_link:hover {
    text-decoration: wavy underline var(--black);
    color: var (--black);
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }

    .logo {
        width: 75%;

    }
}