.button {
    display: inline-flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    background: var(--purple-800);
    box-shadow: 3px 3px 0px 0px var(--black);
    color: var(--white);
    font-family: Yorick trial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: 1px solid var(--black);
}
.button_secondary {
    display: inline-flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: 3px 3px 0px 0px var(--black);
    color: var(--black);
    font-family: Yorick trial;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    border: 1px solid var(--black);
}

.button:hover {
    background: var(--purple-900);
    text-decoration: underline wavy;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .button {
        font-size: 1rem;
        padding: 1rem;
    }
}