.footer {
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    padding: 2rem 0;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.column_title {
    margin-bottom: 1rem;
}

.link {
    color: var(--grey);
}
.body {
    color: var(--grey);
}

.link:hover {
    color: var(--black);
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        padding: 1rem 0;
    }

    .column {
        gap: 0.5rem;
    }

    .column+.column {
        margin-top: 1.5rem;

    }

    .column_title {
        margin-bottom: 0rem;
    }
}