.section_header {
    max-width: 15ch;
    margin-top: 2rem;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 1rem auto;
}

@media screen and (max-width: 800px) {
    .products_container {
        flex-direction: column;
        align-items: flex-start;
    }
}